<link rel="stylesheet" href="/Home.css" />
<main>
  <div class="header-poster">
    <%- include('HomeHeader.ejs') %>

      <div class="poster">
        <!-- Dial Code Feature Start -->
        <div class="img-wrapper">
          <img src="/Assets/Screenshot-2025-03-12-235350.jpeg" alt="Logo" class="logo" draggable="false" />
        </div>
        <div class="dial-container">
          <h1>A one stop place to</h1>
          <div class="dial">
            <div class="words">
              <span class="word">BUY</span>
              <span class="word">SELL</span>
              <span class="word">RENT</span>
            </div>
          </div>
        </div>
        <!-- Dial Code Feature End -->
      </div>
  </div>
  <section>
    <div class="Featured Catogeries">
      <div class="featuredHeader">
        <h2>Featured Catogeries</h2>
      </div>
      <div class="featuredIcons iconsBox">
        <a href="/search/product/category/Clothes">
          <div class="icon" id="clothes">
            <img src="/Assets/categories/image (1).png" alt="" />
          </div>
          <div class="iconText">
            <h3>Clothes</h3>
          </div>
        </a>
        <a href="/search/product/category/Electronics">
          <div class="icon" id="mobile">
            <img src="/Assets/categories/image (3).png" alt="" />
          </div>
          <div class="iconText">
            <h3>Mobiles</h3>
          </div>
        </a>
        <a href="/search/product/category/Laptops">
          <div class="icon" id="laptops">
            <img src="/Assets/categories/image (4).png" alt="" />
          </div>
          <div class="iconText">
            <h3>Laptops</h3>
          </div>
        </a>
        <a href="/search/product/category/Electronics">
          <div class="icon" id="electronics">
            <img src="/Assets/categories/image (5).png" alt="" />
          </div>
          <div class="iconText">
            <h3>Electronics</h3>
          </div>
        </a>
        <a href="/search/product/category/Books">
          <div class="icon" id="books">
            <img src="/Assets/categories/image (6).png" alt="" />
          </div>
          <div class="iconText">
            <h3>Books</h3>
          </div>
        </a>
        <a href="/search/product/category/Furniture">
          <div class="icon" id="furniture">
            <img src="/Assets/categories/image (7).png" alt="" />
          </div>
          <div class="iconText">
            <h3>Furniture</h3>
          </div>
        </a>
        <a href="/search/product/category/Automobiles">
          <div class="icon" id="vehicles">
            <img src="/Assets/categories/image (8).png" alt="" />
          </div>
          <div class="iconText">
            <h3>Vehicles</h3>
          </div>
        </a>
        <a href="/search/product/category/Sports">
          <div class="icon" id="sports">
            <img src="/Assets/categories/image (9).png" alt="" />
          </div>
          <div class="iconText">
            <h3>Sports</h3>
          </div>
        </a>
        <a href="/search/product/category/Fashion">
          <div class="icon" id="accessories">
            <img src="/Assets/categories/image (10).png" alt="" />
          </div>
          <div class="iconText">
            <h3>Accessories</h3>
          </div>
        </a>
        <a href="/search/product/category/Musical Instruments">
          <div class="icon" id="music">
            <img src="/Assets/categories/image (11).png" alt="" />
          </div>
          <div class="iconText">
            <h3>Music</h3>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="Featured Products">
      <div class="featuredHeader">
        <h2>Featured Products</h2>
      </div>

      <div class="product_list">
        <% if (featuredProducts && featuredProducts.length> 0) { %>
          <% for(let i=0; i < featuredProducts.length; i++) { %>
            <% let product=featuredProducts[i]; %>
              <a href="/search/product/<%= product._id %>">
                <div class="product_card">
                  <% if(product.images && product.images[0]) { %>
                    <img src="http://localhost:3000/<%= product.images[0] %>" alt="Product Image" style="border-radius: 10px; height: 250vh;"/>
                    <h4 style=" font-size: 18px ; color: black; font-weight: 400; padding: 1rem 0.5rem;">
                      <%= product.name %>
                    </h4>
                    <h3
                      style="font-size: 20px;margin-left: 0px; color: black ; text-align: right; margin-right: 5px; font-weight: 600;">
                      Rs. <%= product.price %>/-</h3>
                    <% } %>
                </div>
              </a>
              <% } %>
                <% } else { %>
                  <div class="no-products">
                    <p>No products available...</p>
                  </div>
                  <% } %>
      </div>
    </div>
  </section>

  <section>
    <div class="Fresh">
      <div class="featuredHeader">
        <h2>Fresh Recommendations</h2>
      </div>

      <div class="product_list">
        <% if (freshProducts && freshProducts.length> 0) { %>
          <% for(let i=0; i < freshProducts.length; i++) { %>
            <% let product=freshProducts[i]; %>
              <a href="/search/product/<%= product._id %>">
                <div class="product_card">
                  <% if(product.images && product.images[0]) { %>
                    <img src="http://localhost:3000/<%= product.images[0] %>" alt="Product Image" />
                    <h4 style=" font-size: 18px ; color: black; font-weight: 400; padding: 1rem 0.5rem;">
                      <%= product.name %>
                    </h4>
                    <h3
                      style="font-size: 20px;margin-left: 0px; color: black ; text-align: right; margin-right: 5px; font-weight: 600;">
                      Rs. <%= product.price %>/-</h3>
                    <% } %>
                </div>
              </a>
              <% } %>
                <% } else { %>
                  <div class="no-products">
                    <p>No products available...</p>
                  </div>
                  <% } %>
      </div>
    </div>
  </section>
</main>