<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/ManagerDashboard.css" />
  </head>

  <body>
    <div class="dashboard">
      <!-- <img class="sidebar" src="/Assets/AdminSidebar.png" /> -->

      <div class="scroll_container">
        <table>
          <thead>
            <tr>
              <th>Seller Mail</th>
              <th>Product Name</th>
              <th>Posting Date</th>
              <th id="Invoice">Invoice</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0;i < products.length; i++) { %>
            <tr>
              <% console.log(products[i]) %>
              <% if(products[i].seller!== null){ %>
              <td><%= products[i].seller.email %></td>
              <% }else{ %>
              <td>null</td>
              <% } %>
              <td><%= products[i].name %></td>
              <td><%= products[i].postingDate %></td>
              <% if (products[i].invoice) { %>
              <td ><a href="<%= backendURL %><%= products[i].invoice %>">Invoice</a></td>
              <% } else { %>
              <td>No invoice available</td>
              <% } %>
              <td>
                <a
                  href="/search/product/<%= products[i]._id %>"
                  class="productPageBtn"
                  >Product Page</a
                >
              </td>
            </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>