<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/productDetail.css" />
</head>

<body>
  <div class="BG">
    <% if(!seller) { %>
      <%- include("HomeHeader.ejs") %>
        <% } else { %>
          <%- include("sellerHeader.ejs") %>
            <% } %>
              <div id="notification">
                <span id="notif-message"></span>
                <button id="close-btn" onclick="hideNotification()">X</button>
              </div>
              <div class="main_container">
                <div class="big_container">
                <div class="image_container">
                  <div class="card_list">
                    <% for(let i=0; product.images[i] !==undefined; i++) { %>
                      <img src="http://localhost:3000/<%= product.images[i] %>" alt="image" class="card_container">
                      <% } %>
                  </div>
                  <img class="big_card" src="http://localhost:3000/<%= product.images[0] %>" alt="bigImage">
                </div>
                <% if(!seller){ %>
                  <div class="wishlist_button_container">
                    <button id="addToWishlist" class="btn" data-id="<%= product._id %>">Add to Wishlist</button>
                  </div>
                   <% } %>
                </div>
                <div class="product_details">
                  <div class="item_header">
                    <h2 class="item_title">
                      <%= product.name %>
                    </h2>
                    <h2 class="item_price">₹<%= product.price %>/-</h2>
                  </div>
                  <div>
                    <h2 class="item_address">
                      <%= product.state %>
                    </h2>
                    <h3 class="item_address">
                      <%= product.district %>
                    </h3>
                    <h4 class="item_address">
                      <%= product.city %>
                    </h4>
                  </div>
                  <% if(hisProduct) { %>
                    <button id="deleteProduct" data-id="<%= product._id %>"> Delete Product</button>
                    <% } %>
                      <% if(product.verified) { %>
                        <h4 id="verified">✅ Verified Product</h4>
                        <% } %>
                          <div class="options">
                            <% if(!seller){ %>
                            <a href="/buyer/chats/contact/<%= sellerId %>">
                              <div class="chatWs btn" id="chat-btn">
                                Chat with seller
                                <input type="hidden" name="selleId" value="<%= sellerId%>">
                              </div>
                            </a>
                            <% } %>
                            <% if(!product.soldTo && !seller){ %>
                              <a href="/buyer/buy/<%= product._id %>">
                                <div class="purchase btn">
                                  Buy now
                                </div>
                              </a>
                              <% } %>
                          </div>
                          <div class="description">
                            <h2 class="item_desc">Description</h2>
                            <h3 class="item_title">
                              <%= product.description %>
                            </h3>
                            <% if(manager) { %>
                              <button id="verifyButton" data-id="<%= product._id %>">Verify</button>
                              <% } %>

                              <% if(sold1) { %>
                                <div id="sold">
                                <a href="/seller/accept/<%= product._id %>" class="decision-btn">Accept</a>
                                <a href="/seller/reject/<%= product._id %>" class="decision-btn">Reject</a>
                              </div>
                                <p style="color: white;">From user : <%= product.soldTo %></p>
                              <% } %>
                              

                          </div>
                </div>
              </div>
  </div>
  <script>
    function showNotification(message) {
      const notification = document.getElementById("notification");
      const notifMessage = document.getElementById("notif-message");

      notifMessage.textContent = message;
      notification.style.display = "block";
      notification.style.opacity = "1";

      setTimeout(() => {
        hideNotification();
      }, 1000);
    }

    function hideNotification() {
      const notification = document.getElementById("notification");
      notification.style.animation = "fadeOut 0.3s ease-in-out";
      setTimeout(() => {
        notification.style.display = "none";
        notification.style.animation = "";
      }, 300);
    }

    const card_container = document.querySelector('.card_list');
    const big_card = document.querySelector('.big_card');
    const addToWishlist = document.getElementById('addToWishlist');
    card_container.addEventListener("mouseover", (e) => {
      if (e.target.tagName === 'IMG') {
        big_card.src = e.target.src;
      }
    });
    addToWishlist?.addEventListener('click', async (e) => {
      const productId = addToWishlist.getAttribute("data-id");
      const response = await fetch('/buyer/wishlist/add', {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ productId: productId })
      });
      try {
        const data = await response.json();
        console.log("data: ", data);
        showNotification(data.message);
        // alert(data.message);
      } catch (err) {
        window.location.href = response.url;
      }
    });

    const verifyProductButton = document.getElementById("verifyButton");
    verifyProductButton?.addEventListener("click", async (e) => {
      const productId = verifyProductButton.getAttribute("data-id");
      // console.log(productId);
      const response = await fetch("http://localhost:3000/manager/verify", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ pid: productId }),
        credentials: "include",
      });
      try {
        const data = await response.json();
        console.log("data: ", data);
      } catch (err) {
        window.location.href = response.url;
      }
    });
    const deleteProductBtn = document.getElementById('deleteProduct');
    deleteProductBtn?.addEventListener("click", async (e) => {
      const productId = deleteProductBtn.getAttribute("data-id");
      const response = await fetch("/seller/deleteProduct", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ pid: productId })
      });
      window.location.href = response.url;
    });
  </script>
</body>

</html>