<link rel="stylesheet" href="/Home.css" />
<main>
  <div class="header-poster">
    <%- include('HomeHeader.ejs') %>

      <div class="poster">
        <!-- Dial Code Feature Start -->
        <div class="img-wrapper">
          <img src="/Assets/Screenshot-2025-03-12-235350.jpeg" alt="Logo" class="logo" draggable="false" />
        </div>
        <div class="dial-container">
          <h1>A one stop place to</h1>
          <div class="dial">
            <div class="words">
              <span class="word">BUY</span>
              <span class="word">SELL</span>
              <span class="word">RENT</span>
            </div>
          </div>
        </div>
        <!-- Dial Code Feature End -->
      </div>
  </div>

  <section>
    <div class="Featured Catogeries">
      <div class="featuredHeader">
        <h2>Featured Catogeries</h2>
      </div>
      <div class="featuredIcons iconsBox">
        <a href="/search/product/category/Clothes">
          <div class="icon" id="clothes">
            <img src="/Assets/categories/1.svg" alt="" />
          </div>
        </a>
        <a href="/search/product/category/Electronics">
          <div class="icon" id="mobile">
            <img src="/Assets/categories/2.svg" alt="" />
          </div>
        </a>
        <a href="/search/product/category/Laptops">
          <div class="icon" id="laptops">
            <img src="/Assets/categories/3.svg" alt="" />
          </div>
        </a>
        <a href="/search/product/category/Electronics">
          <div class="icon" id="electronics">
            <img src="/Assets/categories/4.svg" alt="" />
          </div>
        </a>
        <a href="/search/product/category/Books">
          <div class="icon" id="books">
            <img src="/Assets/categories/5.svg" alt="" />
          </div>
        </a>
        <a href="/search/product/category/Furniture">
          <div class="icon" id="furniture">
            <img src="/Assets/categories/6.svg" alt="" />
          </div>
        </a>
        <a href="/search/product/category/Automobiles">
          <div class="icon" id="vehicles">
            <img src="/Assets/categories/7.svg" alt="" />
          </div>
        </a>
        <a href="/search/product/category/Sports">
          <div class="icon" id="sports">
            <img src="/Assets/categories/8.svg" alt="" />
          </div>
        </a>
        <a href="/search/product/category/Fashion">
          <div class="icon" id="accessories">
            <img src="/Assets/categories/9.svg" alt="" />
          </div>
        </a>
        <a href="/search/product/category/Musical Instruments">
          <div class="icon" id="music">
            <img src="/Assets/categories/10.svg" alt="" />
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="Featured Products">
      <div class="featuredHeader">
        <h2>Featured Products</h2>
      </div>
     
      <div class="product_list">
        <% for(let i = 0; i < featuredProducts.length; i++) { %>
          <% let product = featuredProducts[i]; %>
          <a href="/search/product/<%= product.ProductId %>">
            <div class="product_card">
              <% if(product.Image1Src) { %>
                <img src="<%= product.Image1Src %>" alt="Product Image" />
              <% } %>
              <div class="productName">
                
              </div>
            </div>
          </a>
        <% } %>
      </div>
    </div>
  </section>
  <section>
    <div class="Fresh">
      <div class="featuredHeader">
        <h2>Fresh Recomendations</h2>
      </div>
      <div class="product_list">
        <% for(let i = 0; i < freshProducts.length; i++) { %>
          <% let product = freshProducts[i]; %>
          <a href="/search/product/<%= product.ProductId %>">
            <div class="product_card">
              <% if(product.Image1Src) { %>
                <img src="<%= product.Image1Src %>" alt="Product Image" />
              <% } %>
              
            </div>
          </a>
        <% } %>
      </div>
    </div>
  </section>
</main>