<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advantage</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/SearchPage.css"/>
</head>

<body>
    <div>
    <%- include("HomeHeader.ejs") %>
        <main>
            <div id="up">
                <b id="filters">FILTERS</b>
            </div>
            <div class="fog" id="fog1"></div>
            <div class="fog" id="fog2"></div>
            <div id="bottom">
                <div id="filterContainer">
                    <b id="priceRange">Price Range</b>
                    <div id="minAndMax">
                        <input type="text" placeholder="min">
                        <input type="text" placeholder="max">
                        <button id="filterApply"><b>Apply</b></button>
                    </div>
                </div>
                <div id="mainSection">
                    <% for(let i=0;i < products.length; i++) { %>
                        <a href="http://localhost:3000/search/product/<%= products[i].ProductId %>">
                            <div class="products">
                                <img src=<%=products[i].Image1Src %> alt="image" class="images">
                                <h4 style="margin-left: 20px; font-size: 15px;">
                                    <%= products[i].Name %>   
                                </h4>
                                <h3 style="margin-left: 20px;"> Rs. <%= products[i].Price %>/- </h3>
                            </div>
                        </a>
                        <% }%>
                </div>
            </div>
        </main>
    </div>
</body>
   
</html>