<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/SellerDashBoard.css" />
    <style>
      h2 {
          font-family: 'Inter', sans-serif;
      }
  </style>
  </head>
  <body>
    <%- include("sellerHeader.ejs") %>
    <h1 class="title">Welcome Rajeev!</h1>
    <h2>Your current Ads</h2>
    <div class="card_container">
      <% for (let i = 0; i < products.length; i++) {%> 
            <a href="http://localhost:3000/search/product/<%= products[i]._id %>"><div class="card">
              <img src="<%= products[i].Image1Src%>" %> alt="<%= products[i].Name %>">
                <h3><%= products[i].Name %></h3>
            </div></a>
        <% } %>
    </div>
   
  </body>
</html>





<!--
<h2>Previous Ads</h2>
<div class="card_container">
    <% const prevCards = [
    {title : "Title" ,desc : "desc"},
    {title : "Title" ,desc : "desc"},
    {title : "Title" ,desc : "desc"},
    {title : "Title" ,desc : "desc"},
    {title : "Title" ,desc : "desc"},
    {title : "Title" ,desc : "desc"},
    {title : "Title" ,desc : "desc"}
    ]; %> 
    <% for (let i = 0; i <prevCards.length; i++) {%> 
        <div class="card">
            <h3><%= prevCards[i].title %></h3>
        </div> 
    <% } %>
</div>
-->
